.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;

}
.logo{
    width:15%;
    margin-left:4%;
}

.nav-links ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  display: inline-block;
  padding: 10px 20px;
  position:relative;
  top:20px;
  margin-right:10px;
  text-decoration: none;
  color: black;
  border-radius: 6px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  background: black;
  color: white;
}
