.container{
    width:100%;
    height:100%;
    margin-top:30px;
    display:flex;
    justify-content: space-around;
  

}
.logo{
    width:20%;
    margin-left:5%;
    cursor:pointer;
}

.nav-links ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-top: 40px;
  position:relative;
  right:50px;
}

.nav-links a {
  display: inline-block;
  padding: 10px 20px;
  position:relative;
  top:20px;
  margin-right:25px;
  text-decoration: none;
  color: black;
  font-size:35px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  background: black;
  color: white;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  .logo{
    width:200px;
    height:300px;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links a {
    text-align: center;
    width: 100%;
  }
}

.hero {
  width: 90%;
  height: 60vh;
  margin-top: 20px;
  background-color: black;
  position: relative;
  left: 65px;
  border-radius: 20px;

  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

/* Animation keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* slight lift effect (optional) */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.hero h1{
  color:white;
}
