.container{
    width:100%;
    height:100%;
    margin-top:30px;
    display:flex;
    justify-content: space-around;
  

}
.logo{
    width:18%;
    margin-left:4%;
    cursor:pointer;
}

.nav-links ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.nav-links a {
  display: inline-block;
  padding: 10px 25px;
  position:relative;
  top:20px;
  margin-right:25px;
  text-decoration: none;
  color: black;
  font-size:30px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  background: black;
  color: white;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
  }
  .logo{
    width:200px;
    height:300px;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links a {
    text-align: center;
    width: 100%;
  }
}

.hero{
 
  width:90%;
  height:60vh;
  margin-top:20px;
  background-color:black;
  position:relative;
  left:65px;
  border-radius:20px;
}
.hero h1{
  color:white;
}